<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.xiao.PaymentDao">

<!--    <select id="createPayment" useGeneratedKeys="true" keyProperty="id" resultType="java.lang.Integer">-->
    <insert id="createPayment" useGeneratedKeys="true" keyColumn="id"  keyProperty="id" parameterType="com.xiao.bean.Payment" >
       insert into tb_payment (info) values (#{info});
    </insert>


    <select id="getPayment" resultType="com.xiao.bean.Payment">
        select * from tb_payment where id=#{id}
    </select>


</mapper>